* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1;
}
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	color: #2C3543;
}
a {
	text-decoration: none;
	color: #2C3543;
}
a:hover {
	text-decoration: none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
	padding: 24px;
	border-top: 1px solid #E2E7EA;
	border-bottom: 1px solid #E2E7EA;
}
.PreFooter {
	margin: 64px 0;
}
.PreFooter .container ul {
	display: flex;
	flex-wrap: wrap;
}
.PreFooter .container ul li {
	width: 33.33%;
}
.PreFooter .container ul li+li {
	border-left: 1px solid #E2E7EA;
}
.PreFooterCell {
	display: flex;
	flex-wrap: wrap;
	padding: 0 32px;
}
.Cell-left {
	width: 30%;
}
.Cell-right {
	width: 70%;
}
.icon {
	width: 72px;
}
.icon img {
	width: 100%;
}
/**




.CarouselImage ul li img {
	width: 100%;
}
.cover {
	position: relative;
}
.book-title {
	width: 90%;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-weight: 300;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
	.CarouselImage ul li {
		width: 33.33%;
	}
}
@media (max-width: 670px) {
	.CarouselImage ul li {
		width: 50%;
	}
}

